/env
/envp11
__pycache__

/build
/dist
/strkit.egg-info
# ignore WIP cohort code for now
/strkit/cohort

*.bam
*.bai
*.bcf
*.fasta
*.fa.gz
*.fa.gz.fai
*.fa.gz.gzi
*.log
*.bed
!tests/data/*.bed
/*.json
*.time
/*.tsv
*.vcf.gz*
*.vcf

*.token

*.lprof
*.poasta
